<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="irAmbience.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <irAmbience.Properties.Settings>
            <setting name="Music" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PitLaneAmbience" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PitLaneSirens" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Announcer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WheelGuns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnvironmentalAmbience" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheeringCrowd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeviceID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PitAmbienceVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SirensVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GunsVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AnnouncerVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="EnvironmentVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CrowdVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RepairVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Repair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Garage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GarageVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Fueling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuelingVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Master" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MasterVolume" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>True</value>
            </setting>
        </irAmbience.Properties.Settings>
    </userSettings>
</configuration>
